h1
{
  font-family: Alegreya Sans SC;
  font-size: 36px;
  color: #c1f7fd;
}

p
{
    color:#ffe1a0;
}

.Header_Image
{
  width: 100%;
  height: 400px;
   /* background: rgb(131,58,180);*/
  background: linear-gradient(#c1f7fd, #ffe1a0);
}