html{
  overflow-y:scroll;
}
body{
  background-color: inherit;
}
h1
{
  font-family: Alegreya Sans SC;
  font-size: 36px;
  color: #c1f7fd;
}

h2
{
  font-family: Alegreya Sans SC;
  font-size: 30px;
  color: #c1f7fd;
}

#myName
{
  text-align: center;
}

p
{
    color:#ffe1a0;
}

.Header_Image
{
  background-image: url("https://cdn.pixabay.com/photo/2018/04/15/20/50/cube-3322835_960_720.jpg");
  /* Set a specific height */
  min-height: 500px; 

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
 
}


