/*section
{
  border: 3px solid; 
  border-color: red;
}*/
.flash-container {
  width: 100%;
  position: fixed;
  z-index: 700;
  padding-top: 20px;
  font-weight: bold;
}

.alert {
  text-align: center !important;
  width: 500px !important;
  margin-left: auto !important;
  margin-right: auto !important;
  color:#211809!important;
}
html{
  scroll-behavior: smooth;
  overflow: auto;
  padding: 20px;
  scroll-padding-top: 80px;
}
h1
{
  font-family: "Alegreya Sans SC", Sans-serif;
  font-size: 36px;
  /*color: #260303;*/
  color:#590202;
}
h2
{
  font-family:"Alegreya Sans SC", Sans-serif;
  font-size: 30px;
  color: #590202;
}

h4{
  font-family:"Alegreya Sans SC", Sans-serif;
  font-size: 25px;
  color: #590202;
}

ul
{
    list-style-type: none;
}

p
{
  font-family: "Source Sans Pro", Sans-serif;
  font-size: 16px;
  font-style: normal;
}

.Buttton {
	border: 2px solid #D24D57;
}
.Button:after {
	background: #D24D57;
	-moz-transform: translateX(-50%) translateY(-50%) rotate(-25deg);
	-ms-transform: translateX(-50%) translateY(-50%) rotate(-25deg);
	-webkit-transform: translateX(-50%) translateY(-50%) rotate(-25deg);
	transform: translateX(-50%) translateY(-50%) rotate(-25deg);
}
.Buttton:link, .Buttton:visited {
	position: relative;
	display: block;
	margin: 30px auto 0;
	padding: 14px 15px;
	color: #fff;
	font-size:14px;
	font-weight: bold;
	text-align: center;
	text-decoration: none;
	text-transform: uppercase;
	overflow: hidden;
	letter-spacing: .08em;
	border-radius: 0;
	text-shadow: 0 0 1px rgba(0, 0, 0, 0.2), 0 1px 0 rgba(0, 0, 0, 0.2);
	-webkit-transition: all 1s ease;
	-moz-transition: all 1s ease;
	-o-transition: all 1s ease;
	transition: all 1s ease;
}
.Buttton:link:after, .Buttton:visited:after {
	content: "";
	position: absolute;
	height: 0%;
	left: 50%;
	top: 50%;
	width: 150%;
	z-index: -1;
	-webkit-transition: all 0.75s ease 0s;
	-moz-transition: all 0.75s ease 0s;
	-o-transition: all 0.75s ease 0s;
	transition: all 0.75s ease 0s;
}
.Buttton:link:hover, .Buttton:visited:hover {
	color: #FFF;
	text-shadow: none;
}
.Buttton:link:hover:after, .Buttton:visited:hover:after {
	height: 450%;
}
.Buttton:link, .Buttton:visited {
	position: relative;
	display: block;
	margin: 30px auto 0;
	padding: 14px 15px;
	color: #fff;
	font-size:14px;
	border-radius: 0;
	font-weight: bold;
	text-align: center;
	text-decoration: none;
	text-transform: uppercase;
	overflow: hidden;
	letter-spacing: .08em;
	text-shadow: 0 0 1px rgba(0, 0, 0, 0.2), 0 1px 0 rgba(0, 0, 0, 0.2);
	-webkit-transition: all 1s ease;
	-moz-transition: all 1s ease;
	-o-transition: all 1s ease;
	transition: all 1s ease;
}

.navBrand {
  position: fixed;
  left: 0;
  z-index: 600;
  padding: 10px;
}

.navBrand img {
  width: 50px;
  height:auto;
}

.fa-bars {
  display: none !important;
  color: #FF6363;
  float: right;
  padding: 20px;
  position: fixed;
  right: 0;
  z-index: 500;
  cursor: pointer;
}

.fa-times {
  color: #FF6363;
  float: right;
  padding: 20px;
  right: 0;
  z-index: 600;
  cursor: pointer;
}

.headerImage
{
  
  height: 50%;
  background-image: url("https://images.unsplash.com/photo-1541462608143-67571c6738dd?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=750&q=80");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  
}
.headerLinks {

 position: fixed;
 width: 100%;
 z-index: 500;
 /*border-style: solid;
 border-color: red;*/
 top: 0px;
 left:0px;
 background-color:#A6A3A1;
 
 }

 .headerLinks li {
   color: white;
   float: right; 
   padding: 15px;
   font-size: 25px;
 }

 .headerLinks a {
  text-decoration: none !important;
  color: #590202;
  font-family: Alegreya Sans SC;
  transition: all 0.2s ease-in;
 }

 .headerLinks a:hover {
   color:#A6916A !important;
 }

 .headerLinks a::after {
  display: block;
    margin: 0 auto;
  margin-top: 5px;
  width: 0;
    height: 2px;
    background-color: #fff;
    content: '';
  opacity: 0;
  transition: width 0.6s, opacity 0.8s;
  transition: width 0.6s, opacity 0.8s;
  transition: width 0.6s, opacity 0.8s;
}

.headerLinks a:hover::after,
.headerLinks a:focus::after {
  opacity: 1;
  width: 100%;
}


 
/*About Me*/
.aboutBox
{
   display: flex;
   align-items: center;
   
}

#myImage {
  width: 300px;
  height: auto;
  margin-left: 10px;
  margin-bottom: 10px;
  border-radius: 8px;
}

#myImage:hover 
{
  box-shadow: 0 10px 10px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  cursor: pointer;
  transition: all .2s ease-in-out;
}     

.paraOnMe
{
  color:#000;
  margin-left: 10px;
  font-weight: 500px;
  
}


/*Case studies*/
.Case_studies_images img
{
height: auto;
width: 270px;
display: inline-block;
padding-left: 60% ;
margin-top: 10px;
margin-bottom: 10px;
}

/*Grid Areas*/
.GridAreas
{
  grid-area: myArea;
}

/*Grid Conatiner*/
.GridAreas
{
  display: grid;
  grid-template-areas: 'myArea myArea myArea myArea' ;
  grid-row-gap: 50px;
  /*border: 3px solid red;*/
}



.Flex_mySkills
{
  display:block;
  width: 100%;
 
}

.ImageContainer
{
  
  width: auto;
  height: 200px;
  background-image: url("https://images.unsplash.com/photo-1588912914049-d2664f76a947?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=750&q=80");
    
}


 

.inline-block_Skills
{
  display:flex;
  flex-direction: column;
  justify-content: space-evenly;
}




@media screen and (max-width: 600px)
{
  .Flex_mySkills
    {
      flex-direction: row;
      
    }
}

.list
{
  display:flex;
  flex-direction: column;
  color:#000;
}

.inline-block_Skills
{
  display:flex;
  flex-direction: row;
  justify-content: space-evenly;
}


/*footer block*/
footer
{
background-color:#A6A3A1 ;
height: 100px;
width: auto;
padding-left: 25px ;

}




  /*media-only screen*/
  @media screen and (max-width: 600px) {
    .Flex_mySkills
    {
      flex-direction: row;
      
    }
    .inline-block_Skills
    {
      display:flex;
      flex-direction: column;
      justify-content: space-evenly;
    }

    .list
    {
      display:flex; 
      flex-direction: row;
      color: #ffe1a0;
    }

    li{
    
      display: inline-block;
     
      color:black;
      margin: 0px;
      
      }

    
    .Grid_Container_Case_Studies
    {
      grid-gap : 20px;
      
    }
     
    .Case_studies_images
    {
      height: 220px;
      width: 220px;
      justify-content: center;
      padding-top: 75%;
      padding-left: 0rem;
      
    }
  }

/*Contact Form*/
  
  input[type=text], select, textarea {
    width: 100%; /* Full width */
    padding: 12px; /* Some padding */ 
    border: 2px solid  #c1f7fd ; /* Gray border */
    background:#090a0f;
    border-radius: 4px; /* Rounded borders */
    box-sizing: border-box; /* Make sure that padding and width stays in place */
    margin-top: 6px; /* Add a top margin */
    margin-bottom: 16px; /* Bottom margin */
    resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
  }
  
  label
  {
    color:white;
  }

  #inText
  {
    color:white;
  }
  /* Style the submit button with a specific background color etc */
  input[type=submit] {
    background-color: #4CAF50;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  /* When moving the mouse over the submit button, add a darker green color */
  input[type=submit]:hover {
    background-color: #45a049;
  }
  
  /* Add a background color and some padding around the form */
  .container {
    border-radius: 5px;
    
    padding: 20px;
  }

  .QR_code 
  {
    display:flex;
     justify-content: center;

  }

  .QR_code img
  {
    width: 100px;
    height:100px;
  }
.content_contact
{
  text-align: center;
}

.preloader {
  position: fixed;
  width: 100%;
  height: 100vh;
  z-index: 100000;
  background-color: black;
  top: 0;
  display: flex;
  align-items: center;
}
.preloader img {
  animation: spin 3s ease;
  transition: all;
  width: 150px;
  margin: 0 auto;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(360deg);
  }
  100% {
    transform: rotate(720deg);
  }
}