h1
{
  font-family: Alegreya Sans SC;
  font-size: 36px;
  color: #c1f7fd;
}

h2
{
  font-family:Alegreya Sans SC;
  font-size: 30px;
  color: #c1f7fd;
}

h4{
  font-family:Alegreya Sans SC;
  font-size: 25px;
  color: #c1f7fd;
}


/* To add background*/
html {
  height: 100%;
  background-color:#090a0f;
  overflow: auto;
}
body {
  background:transparent;
  overflow-x: hidden;
  }
 
  
.lamp{
    position: absolute;
    top: 100%;
    bottom:100%;
    left: 50%;
     transform: translate(-50%, -50%);
    
     width: 100vw;
    min-width: 100vw;
    z-index:-1;
  }
  
  .lava{
    filter: url("#goo");
    position:absolute;
    height:100%;
    width:100%;
    top:0;
    left:0;
  }
  
  .blob{
    border-radius: 50%;
    background: #e0acf6;
    
    position:fixed;
    bottom:0;
    right:0;
    top:auto;
    left:auto;
  }
        
  
  .blob.top{
    border-radius: 50%;
    width: 100%;
    height: 4%;
    top: -3%;
    left:0;
    
  }
  .blob.bottom{
    border-radius: 50%;
    width: 100%;
    height:4%;
    bottom: -3%;
    left:0;
  }

  .blob:nth-child(1){
    width: 200px;
    height: 200px;
    left: 35%;
    bottom:-15%;
   
    animation: wobble 4s ease-in-out alternate infinite, blob-one ease-in-out 13s infinite;
  }

  .blob:nth-child(2){
    width: 330px;
    height: 330px;
    right: 24%;
    bottom:-65%;
    
    animation: wobble 5s ease-in-out alternate infinite, blob-two ease-in-out 22s infinite;
   
  }

  .blob:nth-child(3){
    width: 150px;
    height: 150px;
    bottom:-15%;
    left: 34%;
    
    animation: wobble 6s ease-in-out alternate infinite, blob-three ease-in-out 16s infinite;
  }

  .blob:nth-child(4){
    width: 235px;
    height: 235px;
    bottom:-19%;
    left: 30%;
    
    animation: wobble 7s ease-in-out alternate infinite, blob-four ease-in-out 12s infinite;
  }

  .blob:nth-child(4){
    width: 235px;
    height: 235px;
    bottom:-19%;
    left: 30%;
    animation: wobble 8s ease-in-out alternate infinite, blob-four ease-in-out 12s infinite;
  }

  .blob:nth-child(5){
     width: 55px;
    height: 55px;
    bottom:-25%;
    left: 34%;
    
    animation: wobble 9s ease-in-out alternate infinite, blob-five ease-in-out 32s infinite;
  }

  .blob:nth-child(6){
    width: 35px;
    height: 35px;
    bottom:-25%;
    right: 34%;
    
    animation:wobble 10s ease-in-out alternate infinite,  blob-six ease-in-out 12s infinite;
  }

  .blob:nth-child(7){
    width: 435px;
    height: 435px;
    bottom:-85%;
    right: 40%;
    
    animation: wobble 11s ease-in-out alternate infinite, blob-seven ease-in-out 32s infinite;
  }
  @keyframes blob-one{
    0%, 100%{
      transform: translatey(0);
    }
    50%{
      transform: translatey(-700%);
    }
  }
  
  @keyframes blob-two{
    0%, 100%{
      transform: translatey(0);
    }
    50%{
      transform: translatey(-420%);
    }
  }
  
  @keyframes blob-three{
    0%, 100%{
      transform: translatey(0);
    }
    50%{
      transform: translatey(-305%);
    }
  }
  @keyframes blob-four{
    0%, 100%{
      transform: translatey(0);
    }
    50%{
      transform: translatey(-605%);
    }
  }
  @keyframes blob-five{
    0%, 100%{
      transform: translatey(0);
    }
    50%{
       transform: translatey(-700%);
    }
  }
  @keyframes blob-six{
    0%, 100%{
      transform: translatey(0);
    }
    50%{
       transform: translatey(-700%);
    }
  }
  @keyframes blob-seven{
    0%, 100%{
      transform: translatey(0);
    }
    50%{
       transform: translatey(-300%);
    }
  }
  
  
  @keyframes wobble {
    50% {
     border-radius: 42% 58% 70% 30% / 45% 45% 55% 55%;
    }
    100% {
     border-radius: 38% 52% 75% 36% / 50% 40% 50% 60%;
    }
  }
  
  

/* Menu block*/
.inline-block
{
display: inline-block;
vertical-align: middle;
color: #ffe1a0;
margin: 0px;
margin-right:25px;
}

/* Personal Image*/
img{
width: 100%;
height: auto;
padding-inline-end:100%;
}

/* Logo */
.inline-block_logo
{
width:10%;
padding-left: 50% ;
text-align: center;
}

/* Nav Block*/
ul
{
  
width: 73%;
padding-left: 45%;
color: #ffe1a0 ;
}

li{
    
  display: inline-block;
  vertical-align: middle;
  color:black;
  margin: 0px;
  margin-right:25px;
  }

/* Hero Block*/
.heroimg
{
  
  height: 600px;
  padding: 25px;    

}

.paaOnMe 
{
  
  color:#ffe1a0;
  
}

/* Hero Content Block*/
.content
{

 width: 500px; 
 color: #ffe1a0;
font-family: Source Sans Pro;
font-size: 16px;

}



/*Case studies*/
.Case_studies_images
{
height: 220px;
width:220px;
display: inline-block;
padding-left: 75% ;
}

/*Grid Areas*/
.GridAreas
{
  grid-area: myArea;
}

/*Grid Conatiner*/
.GridAreas
{
  display: grid;
  grid-template-areas: 'myArea myArea myArea myArea' ;
}


.Flex_mySkills
{
  display:flex;
  width: 100%;
 
}

.Image_Skills
{
  width: auto;
  

  
  
}

@media screen and (max-width: 600px)
{
  .Flex_mySkills
    {
      flex-direction: row;
      
    }
}

.list
{
  display:flex;
  flex-direction: column;
  color: #ffe1a0;
}

.inline-block_Skills
{
  display:flex;
  flex-direction: row;
  justify-content: space-evenly;
}


/*footer block*/
footer
{
background-color: #e0acf6;
height: 100px;
width: auto;
padding-left: 25px ;

}




  /*media-only screen*/
  @media screen and (max-width: 600px) {
    .Flex_mySkills
    {
      flex-direction: row;
      
    }
    .inline-block_Skills
    {
      display:flex;
      flex-direction: column;
      justify-content: space-evenly;
    }

    .list
    {
      display:flex; 
      flex-direction: row;
      color: #ffe1a0;
    }

    li{
    
      display: inline-block;
     
      color:black;
      margin: 0px;
      
      }

    
    .Grid_Container_Case_Studies
    {
      grid-gap : 20px;
      
    }
     
    .Case_studies_images
    {
      height: 220px;
      width: 220px;
      justify-content: center;
      padding-top: 75%;
      padding-left: 0rem;
      
    }
  }